body {
	background-color: lightgrey;
	background-image: url(../images/bgnew.png);
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 0px;
}

.foto-perfil {
	margin-left: 50px;
	margin-top: -20px;
}

.tarjetas {
	max-width: 1800px;
	align-self: auto;
	margin: 0px 50px;
	background-color: transparent;
}

.servicios {
	align-self: auto;


}

.services {
	width: 50px;
	align-self: auto;

}

.cabeceras {
	background-color: #8e532f;
	border: 1px solid;
	border-radius: 3px;
	padding: 3px;
	color: white;
}

.cajas {
	max-width: 600px;
	align-items: flex-end;
	align-self: auto;
	align-content: center;
	margin: auto;
}

.proyectos {
	max-width: 600px;
	align-items: center;
	align-self: center;
	align-content: center;
	margin: auto;

}
